body {
  background-image: url('../assets/bg_image.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  margin: 0;
}

div {
  color: white;
}

.nav {
  width: 100%;
  float: left;
}

.nav-bar {
  margin: 0;
  padding: 8px;
  height: 50px;
  background-color: rgb(28, 28, 28);
  margin-bottom: 20px;
}

.nav-bar li {
  display: inline;
  margin-top: 0px;
  font-size: 2em;
}

.directions {
  margin-left: 14px;
  font-size: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.type-selector {
  margin-left: -30px;
}

.type-selector li {
  float: left;
  display: inline;
  margin-left: 4px;
  margin-top: -19px;
  font-style: inherit;
}

.form {
  width: 300px;
  height: 25px;
  border-radius: 10px;
  border: 2px solid #9d9d9d;
  padding: 5px 10px;
}
.form-li {
  border-radius: 10px;
  border: 0px;
}

.form::placeholder {
  color: black;
  opacity: 1;
}

.type-selector button {
  height: 38.2px;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.search-results {
  display: block;
  width: 100%;
  margin-left: 13px;
  font-family: inherit;
}

.radio-group {
  flex-direction: row !important;
}

.results-card {
  background-color: rgba(0, 0, 0, 0.7);
  flex: 0 1 29rem;
  border-radius: 10px;
  border: 1px;
  float: left;
  margin: 10px;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  overflow: auto;
}

.results-text {
  margin-left: 2rem;
  margin-right: 2rem;
}

.singer-select {
  width: 200px;
  height: 38.2px;
  border-radius: 10px;
  border: 2px solid #9d9d9d;
  padding: 5px 10px;
  margin: 0px 10px;
}